<nz-layout class="bg-white shadow px-5 py-5">
        <nz-row nzAlign="middle" class="header-row">
          <nz-col class="text-header-content d-flex justify-content-around px-3 mb-3 " [nzSm]="{order:2,span:24}" [nzXXl]="{order:1,span:8}" nzXl="8" nzLg="8">
               <a><span class="text-header">Nước hoa cho nam </span></a>
               <a><span class="text-header">Nước hoa cho nữ</span></a>
          </nz-col>

          <nz-col class="header-logo text-center mb-4" [nzSm]="{order:1,span:24}" nzSpan="24" [nzXXl]="{order:2,span:8}"  nzXl="8" nzLg="8">BoongMai Store</nz-col>

          <nz-col class="header-search" [nzSm]="{order:3,span:24}" [nzXXl]="{order:3,span:8}"  nzXl="8" nzLg="8">
              <nz-col nzSpan="24">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input style="height: 28px;" type="text" nz-input placeholder="Bạn muốn tìm gì ???" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <i nz-icon nzType="search"></i>
                </ng-template>
              </nz-col>
          </nz-col>
        </nz-row>
  </nz-layout>
  <!-- 
    <nz-layout class="subnav-male" style="margin-bottom: 50px; margin-top: 10px">
      <nz-header class="header-main" style="background-color:#fff">
        <hr>

          <nz-row nzAlign="middle" class="header-row">
              <nz-col nzSpan="4"> Nước hoa Dior</nz-col>
              <nz-col nzSpan="4"> Nước hoa Dior</nz-col>
              <nz-col nzSpan="4"> Nước hoa Dior</nz-col>
              <nz-col nzSpan="4"> Nước hoa Dior</nz-col>
              <nz-col nzSpan="4"> Nước hoa Dior</nz-col>
              <nz-col nzSpan="4"> Nước hoa Dior</nz-col>
          </nz-row>
      </nz-header>
    </nz-layout> -->